.call-button {
    cursor: pointer;
}

.call-button:hover {
    
    background: #8AA624;   
    transition: 0.5s;
    
}

.copy-button{
    cursor: pointer;
    
}

.copy-button:hover{
    background: grey;
}